.materia {
    /* color: white;
    height: 100px;
    width: 200px;
    background-color: darkslategrey;
    
    border: 1px solid black;
    margin-bottom: 16px; */
    height: 300px;
    width: 400px;
}


.body{
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
}

.card-deck{
    margin-bottom: 50px;

}

.img{
    height: 500px;
    width: 400px;

}

.tarjetas{
display: inline-block;
}