<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#Moda</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
</head>

<header>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a href="/" class="navbar-brand">#Moda</a>

        <form action="/search" method="GET" class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="query">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </nav>
</header>

<body>
    <div class="body">

        <div class="card-deck">

            <div class="card">
                <img class="card-img-top"
                    src="https://images.pexels.com/photos/1353503/pexels-photo-1353503.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="/categoria_ropa/blusas">Playeras y Blusas</a></h5>

                </div>
            </div>

            <div class="card">
                <img class="card-img-top"
                    src="https://images.pexels.com/photos/3782789/pexels-photo-3782789.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="/categoria_ropa/zapatos">Zapatos</a>
                    </h5>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top"
                    src="https://images.pexels.com/photos/5405645/pexels-photo-5405645.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> <a href="/categoria_ropa/shorts">Shorts</a>
                    </h5>
                </div>
            </div>

        </div>

        <div class="card-deck">

            <div class="card">
                <img class="card-img-top"
                    src="https://images.pexels.com/photos/4210866/pexels-photo-4210866.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="/categoria_ropa/pantalones">Pantalones y Jumpsuits</a></h5>

                </div>
            </div>

            <div class="card">
                <img class="card-img-top"
                    src="https://images.pexels.com/photos/3489129/pexels-photo-3489129.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="/categoria_ropa/vestidos">Vestidos</a>
                    </h5>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top"
                    src="https://images.pexels.com/photos/325527/pexels-photo-325527.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> <a href="/categoria_ropa/accesorios">Accesorios</a>
                    </h5>
                </div>
            </div>

        </div>

        <div class="card-deck">

            <div class="card">
                <img class="card-img-top"
                    src="https://images.pexels.com/photos/4906450/pexels-photo-4906450.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="/categoria_ropa/bolsos">Bolsos</a></h5>

                </div>
            </div>

            <div class="card">
                <img class="card-img-top"
                    src="https://images.pexels.com/photos/1030946/pexels-photo-1030946.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><a href="/categoria_ropa/sudaderas">Sudaderas y Suéteres</a></h5>
                </div>
            </div>

            <div class="card">
                <img class="card-img-top"
                    src="https://images.pexels.com/photos/1425248/pexels-photo-1425248.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"
                    alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"> <a href="/categoria_ropa/faldas">Faldas</a>
                    </h5>
                </div>
            </div>

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>